header {
    height: 50px;
    margin:auto;
    text-align:start;
    background-color: gray;
    color: rgb(3, 3, 48);
    display: flex;
    justify-content:space-between;
}

/* .container h1 { */
.container {
    height:140px;
    width:100%;
    justify-content: center;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    /* border: 25px navy; */
    background:rgb(3, 3, 48);
    color:white;
}

.start-card{
  height: 140px;
  width: 80%;
  background: white;
  color:blue;
  justify-content: center;
}
/* .container p {
    text-align: center;
    background:pink;
} */

button {
    margin: 0;
    /* position: absolute; */
    cursor: pointer;
    font-size:30px;
    background-color: darkgray;
    color:whitesmoke;
}

button:hover {
    background:darkgreen;
}

section { 
    height: 200px;
    width: 100%;
    background: lightblue;
    border: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5 15 20 25;
}

#question-card {
    display:Flex;
    align-items: center;
    justify-content: center;
    background-color:purple;
    border:10px;
}

#question-text {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
    width:50%;
    background-color:black;
}

[hidden] {
    visibility: hidden;
}

#quiz-options {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.option-button {
    margin: 5px;
    width: 100%;
    margin-left: 50px;
    border-radius: 25px;
}

.option-button:hover {
    background: purple;
}

.leader-board {  
  display:flex;
  align-items: center;
}