:root {
  --primary: #2f3e46;
  --secondary: #354f52;
  --light: #cad2c5;
  --green: #52796f;
  --lgreen: #84a98c;
  --lightText: white; 
  --padding: 10 15 20 25;
  --border-radius: 25px;
  --smallHeight: 50px;
  --largeHeight:250px;
  --direction: column;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

header {
    background-color: var(--lgreen);
    color: var(--secondary);
    height: var(--height);
    font-size: 25px;
    margin: auto;
    text-align: start;
    display: flex;
    justify-content: space-between;
}


.container {
    height: var(--largeHeight);
    width:100%;
    background: var(--secondary);
    display: flex;
    flex-direction: var(--direction);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font);
    color: var(--lightText)
}

.start-card{
  height: var(--largeHeight);
  width: 80%;
  justify-content: center;
}

button {
    margin: 0;
    cursor: pointer;
    font-size:30px;
    background-color: var(--primary);
    color:whitesmoke;
    border-radius: var(--border-radius);

}

button:hover {
    background: var(--lgreen);
}

#result-text {
    color: var(--lightText);
    background:fixed;
    background: var(--primary);
    justify-content: end;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

section { 
    height: 500px;
    width: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: var(--direction);
    padding: var(--padding);
}

#question-card {
    display:Flex;
    align-items: center;
    justify-content: center;
    border:50px;
    width:100%;
    height: 250px;
}

#question-text {
  display: flex;
  text-align: center;
  align-content: start;
  justify-content: center;
  width:100%;
  color: var(--lightText)
}

[hidden] {
    visibility: hidden;
}

#quiz-options {
    padding: var(--padding);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100%;
    margin-left: 50px;
    /* margin-right:50px; */
    /* border-radius: 25px; */
}

.option-button:hover {
    background: var(--lgreen);
}

.leader-board {  
  display:flex;
  align-items: center;
  flex-direction: var(--direction);
  color: var(--secondary);
}

#highscore-list {
  color: var(--lightText);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: var(--direction);
}

/* .in-line-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: var(--direction);
} */
